# String

## Common String Method

In [1]:
"This is a string"

'This is a string'

In [2]:
s = "This is a string"
s

'This is a string'

In [3]:
s.upper()

'THIS IS A STRING'

In [4]:
"This is a string".upper()

'THIS IS A STRING'

In [5]:
#format output1
"This is a string {}".format(42)

'This is a string 42'

In [6]:
#format output2
#This is one is old, and not supported by python3
"This is string %s" %42

'This is string 42'

In [7]:
#A variable is just a reference to a string
#A string is an immutable object
#String itself does not change, it returns a new string
s = "This is a string"
s

'This is a string'

In [8]:
s.capitalize()

'This is a string'

In [9]:
s.upper()

'THIS IS A STRING'

In [10]:
s.lower()

'this is a string'

In [11]:
"This is a String".swapcase()

'tHIS IS A sTRING'

In [12]:
s

'This is a string'

In [13]:
s.find('is')

2

In [14]:
s.replace('This','that')

'that is a string'

In [15]:
id(s)

4422367680

In [16]:
newstring = s.upper()

In [17]:
id(newstring)

4422422792

In [18]:
s = "  a b c "
s

'  a b c '

In [19]:
s.strip()
#strip only elminates white space in the begining and the end.
#white space: \r \n ' ' etc.

'a b c'

In [20]:
s.rstrip()
#only remove the end

'  a b c'

In [21]:
s.isalnum()
#only numeric + aplha?

False

In [22]:
s = "thisis342"
s.isalnum()

True

In [23]:
s.isalpha()
#aplha characters a-z

False

In [24]:
s.isdigit()
#if it is a digit

False

In [25]:
s.isprintable()
#is printable?

True

In [26]:
s = "This is a string"
s.center(30)
#centered in the place

'       This is a string       '

In [27]:
#For more available method, please see the documentation of python3

## Format Method

In [28]:
a,b =5,42
print(a,b)

5 42

In [29]:
"This is {}, that is {}".format(a,b)
#replace {} with values in format
#The string returned is also a new string

'This is 5, that is 42'

In [30]:
s = "This is {}, that is {}"
s

'This is {}, that is {}'

In [31]:
s.format(5,b)

'This is 5, that is 42'

In [32]:
id(s)

4422423800

In [33]:
new = s.format(a,b)
id(new)
#Different id from s

4422422864

In [34]:
#In python 2, not supported in python3
"This is %d, that is %d" % (a,b)

'This is 5, that is 42'

In [35]:
#Advanced usage 1.
'This is {0}, this is also {0}, that is {1}, that is also {1}'.format(a,b)

'This is 5, this is also 5, that is 42, that is also 42'

In [36]:
#Advanced usage 2
'This is {bob}, this is also {bob}, that is {fred}, that is also {fred}'.format(bob = a, fred = b)

'This is 5, this is also 5, that is 42, that is also 42'

In [37]:
#Advanced usage 3
d = dict(bob = a, fred = b)
'This is {bob}, this is also {bob}, that is {fred}, that is also {fred}'.format(**d)

'This is 5, this is also 5, that is 42, that is also 42'

## Split and Join Operations

In [38]:
s = "This is a string of words"

In [39]:
s.split()

['This', 'is', 'a', 'string', 'of', 'words']

In [40]:
"This   is   a       word".split()

['This', 'is', 'a', 'word']

In [41]:
"This,is,a,word".split(',')

['This', 'is', 'a', 'word']

In [42]:
"This is a is".split("is")

['Th', ' ', ' a ', '']

In [43]:
words = "This is a is".split(" ")
for o in words: print(o)

This
is
a
is

In [44]:
new = ':'.join(words)
print(new)

This:is:a:is