# Containers

## Tuple and List

### Basic Op

In [1]:
#Tuple:immutable List:Mutable

In [2]:
 t = 1,2,3,4,5

In [3]:
t

(1, 2, 3, 4, 5)

In [4]:
t[0]

1

In [5]:
t[-1] #-1 from the right to left
#important -1 is available in indexing

5

In [6]:
len(t)

5

In [7]:
min(t)

1

In [8]:
max(t)

5

In [9]:
t = (1,2,3,4)

In [10]:
t

(1, 2, 3, 4)

In [11]:
type(t)

tuple

In [12]:
t = (1)
type(t)

int

In [13]:
x = [1,2,3,4]
x

[1, 2, 3, 4]

In [14]:
type(x)

list

In [15]:
t = tuple(range(5))
t

(0, 1, 2, 3, 4)

In [16]:
#t[10] = 42
#tuple not changable

In [17]:
x = list(range(5))
x

[0, 1, 2, 3, 4]

In [18]:
x[1] = 42
x

[0, 42, 2, 3, 4]

In [19]:
t = tuple(range(5))
t

(0, 1, 2, 3, 4)

In [20]:
5 in t

False

In [21]:
3 in t

True

In [22]:
len(t)

5

In [23]:
for i in t: print(i)

0
1
2
3
4

### Builtin methods

In [24]:
t.count(5)

0

In [25]:
t.index(1)

1

In [26]:
t = [1,1,2,3]
t.index(1) #only returns the first one

0

In [27]:
t.append(5)
t

[1, 1, 2, 3, 5]

In [28]:
t.append((2,3)) #the difference between append and extend.
#extend always expand everything, while append treat it as a whole
t

[1, 1, 2, 3, 5, (2, 3)]

In [29]:
t.extend(range(2)) # add 2 in the end not 1
t

[1, 1, 2, 3, 5, (2, 3), 0, 1]

In [30]:
t.extend("da") #add 2
t

[1, 1, 2, 3, 5, (2, 3), 0, 1, 'd', 'a']

In [31]:
t.remove(1) #remove the first one
t

[1, 2, 3, 5, (2, 3), 0, 1, 'd', 'a']

In [32]:
del t[3]
t

[1, 2, 3, (2, 3), 0, 1, 'd', 'a']

In [33]:
t.pop()
t

[1, 2, 3, (2, 3), 0, 1, 'd']

In [34]:
x.pop(0) #pop from beginning
x

[42, 2, 3, 4]

## Dictionary

In [35]:
d = {"one":1,"two":2, "three":3}
d

{'one': 1, 'three': 3, 'two': 2}

In [36]:
x = dict(one=1,two=2, three=3) #keyword can't be an expression when defining. When searching, add the ""
x

{'one': 1, 'three': 3, 'two': 2}

In [37]:
d = dict(four=4,five=5, six=6, **x) #add x to d
d

{'five': 5, 'four': 4, 'one': 1, 'six': 6, 'three': 3, 'two': 2}

In [38]:
'four' in d

True

In [39]:
for k in d: print(k)

five
one
three
two
four
six

In [40]:
for k,v in d.items(): print(k,v)

five 5
one 1
three 3
two 2
four 4
six 6

In [41]:
d['three']

3

In [42]:
#incase the key does not exist
d.get('three')

3

In [43]:
#incase the key does not exist
d.get('fdsa') #print nothing

In [44]:
d.get('dfas','not found')

'not found'

In [45]:
del d['six']
d

{'five': 5, 'four': 4, 'one': 1, 'three': 3, 'two': 2}

In [46]:
d.pop('four')
d
#d.pop("dasfdf") #key error

{'five': 5, 'one': 1, 'three': 3, 'two': 2}

## Byte and Byte Arrays

In [47]:
def main():
    fin = open('utf8.txt','r',encoding='utf_8')
    outbytes = bytearray() #a mutable array of bytes
    for line in fin:
        for c in line:
            if ord(c) > 127: #ascii>127
                outbytes += bytes('&#{:04d};'.format(ord(c)),encoding="utf_8") 
                #&#{:04d} format
                #similar to print bits.
            else:
                outbytes.append(ord(c))
#&#1641;(&#0865;&#3663;&#0815;&#0865;&#3663;)&#1782;
#these are unicode values.
    outstr = str(outbytes, encoding = "utf_8")
    print(outstr)
    #byte code are useful for handling encodings.

if __name__ == "__main__" : main()

This is a UTF-8 file.
It has some interesting characters in it.
&#1641;(&#0865;&#3663;&#0815;&#0865;&#3663;)&#1782;